---
import { Image } from "astro:assets";
import BrandImage from "../../../assets/images/brand/brand.svg";
import * as ReactIcons from "react-icons/hi2";
const { HiBars3BottomRight, HiPhoneArrowDownLeft } = ReactIcons;
---

<nav class="fixed top-0 z-50 w-full bg-[var(--CL-primary-blue)]">
  <di
    md:
    p-2v
    block
    bg-gray-100
    class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto sm:py-6"
  >
    <a href="/" class="flex items-center space-x-3">
      <Image src={BrandImage} class="w-28 sm:w-32" alt="Flowbite Logo" />
    </a>
    <div class="flex items-center space-x-3 md:order-2 md:space-x-0">
      <a href="/contacts" class="btn">
        <HiPhoneArrowDownLeft className="text-lg" /> Contact
      </a>
      <button
        class="px-0 md:hidden btn btn-ghost"
        data-collapse-toggle="navbar-sticky"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <HiBars3BottomRight className="text-white text-4xl" />
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col gap-1 p-2 mt-4 bg-gray-100 border rounded-xl md:p-0 md:flex-row md:mt-0 md:border-0 md:bg-transparent md:space-x-4"
      >
        <li>
          <a
            href="/"
            class="block w-full p-2 text-sm text-left transition rounded md:text-white hover:text-white hover:bg-black"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/services"
            class="block w-full p-2 text-sm text-left transition rounded md:text-white hover:text-white hover:bg-black"
            >Services</a
          >
        </li>
        <li>
          <a
            href="/portfolio"
            class="block w-full p-2 text-sm text-left transition rounded md:text-white hover:text-white hover:bg-black"
            >Portfolio</a
          >
        </li>
      </ul>
    </div>
  </di>
</nav>
