---
import { Image } from "astro:assets";
import * as FaIcons from "react-icons/fa6";
import BrandImage from "../../assets/images/brand/brand_dark.svg";
const { FaInstagram, FaFacebook, FaWhatsapp } = FaIcons;
---

<footer class="p-4 bg-white">
  <div class="max-w-xl py-12 mx-auto pb:0">
    <header class="flex flex-col items-center justify-center">
      <a
        class="grid w-40 p-4 text-xl border-transparent place-items-center"
        href="/"
      >
        <Image src={BrandImage} alt="RysthDesign Logo" class="w-full h-full" />
      </a>
    </header>

    <p
      class="max-w-sm mx-auto text-sm leading-relaxed text-center text-gray-500"
    >
      Diseño y Desarrollo de Sitios Web Profesionales | Aplicaciones Web |
      Tíendas en Línea | Páginas Web
    </p>

    <ul class="flex justify-center gap-6 mt-4 md:gap-8">
      <li>
        <a
          href="https://www.instagram.com/rysthdesign/"
          class="flex items-center gap-1 text-sm text-gray-700 transition duration-200 hover:text-indigo-900"
        >
          <FaInstagram className="text-xl" />
          <span class="sr-only">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/rysthdesign"
          class="flex items-center gap-1 text-sm text-gray-700 transition duration-200 hover:text-indigo-900"
        >
          <FaFacebook className="text-xl" />
          <span class="sr-only">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="http://tinyurl.com/contact-ws"
          class="flex items-center gap-1 text-sm text-gray-700 transition duration-200 hover:text-indigo-900"
        >
          <FaWhatsapp className="text-xl" />
          <span class="sr-only">Whatsapp</span></a
        >
      </li>
    </ul>
  </div>
  <p class="pt-4 text-sm text-center text-gray-400 border-t">
    RysthDesign © 2024. Todos los Derechos Reservados.
  </p>
</footer>
