---
const { title, path } = Astro.props;
---

<li>
  <a
    href={path}
    class="block p-2 text-xs font-medium tracking-widest uppercase bg-transparent rounded-md md:py-3 md:hover:scale-110 md:transition md:hover:border-gray-200"
    aria-current="page">{title}</a
  >
</li>
