---
import BrandImage from "../../assets/images/brand/brand.svg";
import { Image } from "astro:assets";
import * as ReactIcons from "react-icons/fa";
const { FaWhatsapp } = ReactIcons;
---

<nav
  class="fixed top-0 z-50 w-full px-4 transition duration-300 md:py-4 bg-brand-blue"
  id="navbar"
>
  <div class="max-w-screen-xl p-0 mx-auto navbar">
    <div class="navbar-start">
      <div class="dropdown">
        <button
          tabindex="0"
          role="button"
          class="text-white btn btn-ghost lg:hidden ps-0"
          aria-label="Toggle button menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-7 h-7"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              fill="#ffffff"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </button>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="/">Inicio</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contactos">Contactos</a></li>
        </ul>
      </div>
      <a class="text-xl" href="/">
        <Image src={BrandImage} alt="RysthDesign Logo" class="w-20 lg:w-28" />
      </a>
    </div>
    <div class="hidden text-white navbar-center lg:flex">
      <ul class="gap-2 px-1 menu menu-horizontal">
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contactos">Contactos</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a
        href="http://tinyurl.com/contact-ws"
        target="_blank"
        class="text-xs text-white bg-green-500 border-transparent btn lg:text-sm btn-neutral"
      >
        <FaWhatsapp className="block text-2xl" />
        Contactar
      </a>
    </div>
  </div>
</nav>

<script>
  const navBarElement = document.querySelector("#navbar");

  function handleScroll() {
    const scrollTop = window.scrollY;
    if (scrollTop >= 200) {
      navBarElement.classList.add("bg-brand-blue", "shadow-md");
      navBarElement.classList.remove("bg-transparent");
    } else {
      navBarElement.classList.remove("bg-brand-blue", "shadow-md");
      navBarElement.classList.add("bg-transparent");
    }
  }

  // Inicializa el estado del navbar al cargar
  handleScroll();

  window.addEventListener("scroll", handleScroll);
  window.addEventListener("resize", handleScroll); // Asegúrate de que el estilo se actualice al redimensionar
</script>
