---
interface Props {
  route: string;
  classVariant: string;
  target: string;
}

const { route, target, classVariant } = Astro.props;
---

<a
  href={route}
  target={target}
  rel="noopener noreferrer"
  class={`flex items-center justify-center gap-2  ${classVariant}`}
>
  <slot />
</a>
