---
import { Image } from "astro:assets";
import * as ReactIcons from "react-icons/fa/index.js";
import BrandLogo from "../../assets/images/brand.svg";
import Link from "../ui/Link/Link";
const { FaInstagram, FaLinkedin, FaGithub } = ReactIcons;
---

<footer
  class="flex flex-col items-center max-w-screen-xl px-4 py-8 mx-auto lg:pt-24 sm:flex-row animate__animated animate__fadeIn animate__delay-1s"
>
  <div class="w-full text-white">
    <div class="grid lg:grid-cols-[1fr_60%] gap-10">
      <Link route="/" classVariant="" target="">
        <Image
          src={BrandLogo}
          class="w-48 mx-auto lg:mx-0 sm:w-72 lg:w-96"
          alt="RysthCraft brand"
        />
      </Link>
      <div
        class="flex flex-col justify-around gap-8 text-center sm:gap-20 lg:gap-32 md:text-left lg:justify-end sm:flex-row"
      >
        <ul class="flex flex-col gap-3 p-0 lg:gap-6">
          <li class="mb-2 text-lg font-bold md:text-2xl">RysthCraft</li>
          <li class="text-sm tracking-wider text-gray-300">
            <Link route="/" classVariant="" target="">Home</Link>
          </li>
        </ul>
        <ul class="flex flex-col gap-3 p-0 lg:gap-6">
          <li class="mb-2 text-lg font-bold md:text-2xl">QuickAccess</li>
          <li class="text-sm tracking-wider text-gray-300">
            <Link route="/about" classVariant="" target="">About</Link>
          </li>
          <li class="text-sm tracking-wider text-gray-300">
            <Link route="/projects" classVariant="" target="">Projects</Link>
          </li>
        </ul>
        <ul class="flex flex-col gap-3 p-0 lg:gap-6">
          <li class="mb-2 text-lg font-bold md:text-2xl">Contacts</li>
          <li class="text-sm tracking-wider text-gray-300">
            <Link
              route="https://www.linkedin.com/in/john-palacios-rysthcraft/"
              classVariant=" !text-left"
            >
              LinkedIn
            </Link>
          </li>
          <li class="text-sm tracking-wider text-gray-300">
            <Link route="https://github.com/Rysth" classVariant="">GitHub</Link>
          </li>
          <li class="text-sm tracking-wider text-gray-300">
            <Link route="mailto:johnpalacios.t@gmail.com" classVariant="">
              Gmail
            </Link>
          </li>
        </ul>
      </div>
    </div>
    <hr class="h-0.5 my-10 border-0 outline-none bg-gray-400" />
    <div
      class="flex flex-col items-center justify-between gap-3 text-gray-300 sm:flex-row"
    >
      <ul class="flex items-center justify-center gap-5 md:justify-start">
        <li class="transition-transform md:hover:scale-105">
          <a
            href="https://www.instagram.com/rysthcraft/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FaInstagram className="text-2xl inline-block" />
          </a>
        </li>
        <li class="transition-transform md:hover:scale-105">
          <a
            href="https://www.linkedin.com/in/john-palacios-rysthcraft/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FaLinkedin className="text-2xl inline-block" />
          </a>
        </li>
        <li class="transition-transform md:hover:scale-105">
          <a
            href="https://github.com/Rysth"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FaGithub className="text-2xl inline-block" />
          </a>
        </li>
      </ul>
      <p class="text-sm">Copyright RysthCraft | 2023</p>
    </div>
  </div>
</footer>
