---
import { Image } from "astro:assets";
import * as ReactIcons from "react-icons/fa/index.js";
import BannerImage from "../../../assets/images/brand/banner.png";
import ProfileImage from "../../../assets/images/hero.png";
import Section from "../../../layouts/Section.astro";
const { FaLinkedin } = ReactIcons;
---

<Section>
  <article class="max-w-screen-xl gap-10 p-4 mx-auto py-28 md:py-40 md:pb-28">
    <div class="w-5/6 mx-auto lg:w-4/4">
      <div>
        <Image
          src={BannerImage}
          alt="content"
          class="object-center rounded-lg"
        />
      </div>
      <div class="flex flex-col mt-10 sm:flex-row">
        <div class="text-center sm:w-1/3 sm:pr-8 sm:py-8">
          <div
            class="inline-flex items-center justify-center w-20 h-20 overflow-hidden text-gray-400 bg-gray-200 rounded-full"
          >
            <Image
              alt="content"
              class="object-cover object-center w-full h-full"
              src={ProfileImage}
            />
          </div>
          <div class="flex flex-col items-center justify-center text-center">
            <h2 class="mt-4 text-lg font-medium text-white title-font">
              John Palacios
            </h2>
            <div class="w-12 h-1 mt-2 mb-4 bg-indigo-500 rounded"></div>
            <p class="text-sm text-gray-300 lg:text-base">
              Full-Stack Web Developer | React | Astro | Ruby on Rails
            </p>
          </div>
        </div>
        <div
          class="pt-4 mt-4 text-center border-t border-gray-200 sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l sm:border-t-0 sm:mt-0 sm:text-left"
        >
          <p class="mb-4 text-sm leading-relaxed text-gray-300 lg:text-lg">
            I'm John Palacios, known as RysthCraft, a passionate software
            developer specializing in creating websites and applications using
            React, Astro, and Ruby on Rails. With a focus on innovative
            solutions and clean, efficient code, I'm dedicated to bringing your
            digital ideas to life, ensuring seamless user experiences and
            stunning visuals. Let's collaborate to turn your vision into a
            digital reality that leaves a lasting impact.
          </p>
          <a
            href="https://www.linkedin.com/in/john-rysthcraft/"
            target="_blank"
            rel="noreferrer"
            class="flex items-center justify-center gap-1 btn btn-secondary"
            type="button"
          >
            <FaLinkedin />
             Linkedin
          </a>
        </div>
      </div>
    </div>
  </article>
</Section>
