---
import { Image } from "astro:assets";
import * as FaIcons from "react-icons/fa";
const { FaArrowRight } = FaIcons;
import WebsiteIllustration from "../../../assets/images/illustrations/pair_programming.svg";
---

<section class="p-4">
  <article
    class="grid max-w-screen-xl gap-20 py-12 mx-auto md:grid-cols-2 md:py-24"
  >
    <Image src={WebsiteIllustration} alt="" class="w-full lg:h-full" />
    <main
      class="relative z-20 flex flex-col items-center justify-center md:items-start gap-7 md:gap-10"
    >
      <h3 class="font-semibold text-brand-blue">Acerca de Nosotros</h3>
      <div class="space-y-2 text-center md:space-y-4 md:text-left">
        <h2 class="text-2xl font-bold md:text-4xl lg:!leading-10 lg:max-w-lg">
          Profesional Experto en Diseño y Desarrollo Web Personalizados
        </h2>
        <p
          class="max-w-lg mx-auto text-sm leading-6 text-gray-500 md:text-base lg:ml-0"
        >
          Con nuestra agencia 100% dígital ofrecemos plataformas seguras,
          funcionales y personalizadas, asegurando que cada proyecto no solo
          complemente, sino que también potencie las capacidades de tu negocio.
        </p>
      </div>
      <a
        href="/"
        class="text-white border-transparent btn btn-neutral bg-brand-blue max-w-max group"
      >
        Descubre más <FaArrowRight
          className="block text-xl group-hover:translate-x-1 transition"
        />
      </a>
    </main>
  </article>
</section>
