---
import { Image } from "astro:assets";
import Link from "../../../components/ui/Link/Link.astro";
import HeroImage from "../../../assets/images/hero.png";
---

<section class="h-screen">
  <article
    class="grid max-w-screen-xl gap-5 p-4 mx-auto py-28 sm:grid-cols-2 sm:py-40"
  >
    <header
      class="flex flex-col justify-center gap-5 text-center text-white sm:gap-7 sm:text-left"
    >
      <h1
        class="text-2xl font-bold sm:text-3xl md:text-4xl lg:text-6xl xl:text-8xl"
      >
        Designing Professional Websites
      </h1>
      <p class="text-sm text-gray-300 sm:text-lg">
        Welcome to RysthCraft's Portfolio. I'm John Palacios, a Software
        Developer, weaving digital sites with React, TailwindCSS and Ruby on
        Rails.
      </p>
      <div class="flex items-center justify-center gap-3 sm:justify-start">
        <Link
          text="GitHub"
          route="https://github.com/Rysth"
          classVariant="btn-gradient"
        />
        <Link
          text="LinkedIn"
          route="https://www.linkedin.com/in/john-palacios-rysthcraft/"
          classVariant="btn-secondary"
        />
      </div>
    </header>
    <main class="">
      <picture
        class="block max-w-[350px] sm:max-w-[500px] p-4 sm:p-6 border mx-auto sm:ml-auto sm:mr-0 rounded-3xl border-t-violet-500 border-l-violet-500 border-r-cyan-500 border-b-cyan-500"
      >
        <Image src={HeroImage} alt="" class="w-full rounded-3xl" />
      </picture>
    </main>
  </article>
</section>
