---
import { Image } from "astro:assets";
import { FaGithub, FaLinkedin } from "react-icons/fa";
import HeroImage from "../../../assets/images/hero.png";
import Link from "../../../components/ui/Link/Link.jsx";
---

<section class="animate__animated animate__fadeIn animate__delay-1s">
  <article
    class="grid max-w-screen-xl gap-10 p-4 mx-auto py-28 md:grid-cols-2 md:py-40 md:pb-28"
  >
    <header
      class="flex flex-col justify-center gap-5 text-center text-white sm:gap-7 md:text-left"
    >
      <h1 class="text-2xl font-bold sm:text-5xl md:text-6xl xl:text-8xl">
        Designing Professional Websites
      </h1>
      <p class="text-sm text-gray-300 sm:text-base md:text-lg">
        Welcome to RysthCraft's Portfolio. I'm John Palacios, a Software
        Developer, weaving digital sites with React, Astro, and Ruby on Rails.
      </p>
      <div class="flex items-center justify-center gap-3 md:justify-start">
        <Link route="https://github.com/Rysth" classVariant="btn btn-gradient">
          <FaGithub />
           GitHub
        </Link>

        <Link
          route="https://www.linkedin.com/in/john-palacios-rysthcraft/"
          classVariant="btn btn-secondary"
        >
          <FaLinkedin />
           LinkedIn
        </Link>
      </div>
    </header>
    <main
      class="animate__animated animate__pulse animate__infinite animate__slower"
    >
      <picture
        class="block max-w-[300px] sm:max-w-[350px] md:max-w-[500px] p-4 border-2 mx-auto md:ml-auto md:mr-0 rounded-3xl border-t-violet-500 border-l-violet-500 border-r-cyan-500 border-b-cyan-400 relative backdrop-blur-3xl"
      >
        <span
          class="absolute w-32 h-32 rounded-full md:w-40 md:h-40 -inset-10 bg-violet-500/40 blur-3xl -z-10"
        ></span>
        <Image src={HeroImage} alt="" class="w-full rounded-3xl" />
        <span
          class="absolute w-32 h-32 rounded-full inset-48 md:inset-2/4 lg:inset-96 md:w-40 md:h-40 bg-cyan-400/40 blur-3xl -z-10"
        ></span>
      </picture>
    </main>
  </article>
</section>
