---

---

<section class="h-screen">
  <article
    class="grid h-full max-w-screen-xl gap-5 p-4 mx-auto py-28 sm:grid-cols-2 sm:py-40"
  >
    <header
      class="flex flex-col justify-center gap-5 text-center text-white sm:gap-10 sm:text-left"
    >
      <h1 class="text-2xl font-semibold sm:text-3xl md:text-4xl lg:text-6xl">
        Discover, collect, and charity in extraordinary NFT marketplace
      </h1>
      <p class="text-sm sm:text-xl">
        In aenean posuere lorem risus nec. Tempor tincidunt aenean purus purus
        vestibulum nibh mi venenatis
      </p>
      <div class="flex items-center justify-center gap-3 sm:justify-start">
        <button
          class="p-4 px-6 text-xs sm:w-40 rounded-xl sm:text-base bg-gradient-to-br from-[#9B51E0] to-[#3081ED]"
        >
          GitHub</button
        >
        <button
          class="p-4 px-6 text-xs sm:w-40 rounded-xl sm:text-base outline outline-1"
        >
          LinkedIn</button
        >
      </div>
    </header>
    <main class="">
      <picture
        class="block max-w-[350px] sm:max-w-[500px] p-4 sm:p-6 border mx-auto sm:ml-auto sm:mr-0 rounded-3xl"
      >
        <img
          src="https://placehold.co/450x450"
          alt=""
          class="w-full rounded-3xl"
        />
      </picture>
    </main>
  </article>
</section>
