---
import NavigationBar from "../components/navigation/NavigationBar/NavigationBar.astro";
import Footer from "../components/navigation/Footer/Footer.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavigationBar />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>

<style is:global>
  @import url("https://fonts.cdnfonts.com/css/poppins");

  :root {
    --CL-primary-blue: #2e3191;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
</style>
