---
// Props para el componente FeatureCard
const { title, description, IconComponent, bgColor } = Astro.props;

// Objeto para manejar colores y estilos
const colorStyles = {
  "violet-500": {
    textColor: "text-violet-500",
    hoverShadowColor: "hover:shadow-violet-500/50",
  },
  "green-500": {
    textColor: "text-green-500",
    hoverShadowColor: "hover:shadow-green-500/50",
  },
  "indigo-500": {
    textColor: "text-indigo-500",
    hoverShadowColor: "hover:shadow-indigo-500/50",
  },
  "blue-500": {
    textColor: "text-blue-500",
    hoverShadowColor: "hover:shadow-blue-500/50",
  },
  // Agrega más colores según sea necesario
};

// Función para obtener las clases de color
function getColorStyle(color) {
  return (
    colorStyles[color] || {
      textColor: "text-gray-500",
      hoverShadowColor: "hover:shadow-gray-500/50",
    }
  );
}
---

<div class="flex flex-col items-center justify-center shadow-center">
  <header
    class={`relative p-4 md:p-8 mb-3 md:mb-6 transition duration-300 shadow hover:shadow-xl rounded-full group ${
      getColorStyle(bgColor).hoverShadowColor
    }`}
  >
    <IconComponent
      className={`md:h-28 md:w-28 h-20 w-20 relative z-20 transition duration-300 ${
        getColorStyle(bgColor).textColor
      }`}
    />
  </header>
  <div class="space-y-2 text-center md:space-y-4">
    <h3 class="font-semibold md:text-xl">{title}</h3>
    <p class="max-w-xs text-xs leading-6 text-gray-500 md:text-sm">
      {description}
    </p>
  </div>
</div>
