---
// Props para el componente ProjectCard
const { imageUrl, projectUrl, altText } = Astro.props;
import { Image } from "astro:assets";
---

<a
  href={projectUrl}
  target="_blank"
  rel="noreferrer"
  class="block transition duration-300 rounded-xl hover:grayscale hover:shadow-xl"
>
  <figure class="rounded-xl">
    <Image src={imageUrl} alt={altText} class="w-full h-full rounded-xl" />
  </figure>
</a>
